// Base styles
@import 'base/variables';
@import 'base/fonts';
@import 'base/mixins';

// Editor-specific styles for blocks
.editor-styles-wrapper {

    font-family: $font-display;
    background: $primary-color;
    padding: 0px 40px;

    .wp-block-post-title {
        margin-bottom: 60px;
    }

    @import 'base/typography';
    @import 'components/buttons';
    @import 'components/svg-dividers';
    @import 'components/rwd-list';
    @import 'base/utils';

    @import 'blocks/hero';
    @import 'blocks/intro-section';
    @import 'blocks/selling-point-bold';
    @import 'blocks/faq';
    @import 'blocks/icon-card-grid';
    @import 'blocks/contact-form';
    @import 'blocks/promo';
    @import 'blocks/intro-section-centered';
    @import 'blocks/icon-list-section';
    @import 'blocks/process-steps';

    .faq-answer {
        max-height: 100% !important;
        background: #f1f1f1;
        padding: 20px 0px;
    }
}