.rwd-breadcrumb {
    margin: 8px 0px;
    color: #fff;
}

a.rwd-breadcrumb-link {
    color: var(--color-breadcrumb-links);
    display: inline-block;
    margin-right: 8px;
}

.rwd-breadcrumb-arrow {
    margin-right: 8px;
    color: var(--color-breadcrumb-links);
}